<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title> Register </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="userGroup">
        <table [cellSpacing]="0">

          <tr>
            <td>
              <mat-form-field>
                <input
                  matInput
                  name="fullname"
                  placeholder="fullname"
                  required
                 formControlName="fullname"
                  
              />
              </mat-form-field>
            </td>
          </tr>
  
          <tr>
            <td>
              <mat-form-field>
                <input
                  matInput
                  name="email"
                  placeholder="password"
                  required
                  formControlName="password"
                />
              </mat-form-field>


              <tr>
                <td>
                  <mat-form-field>
                    <input
                      matInput
                      name="password"
                      placeholder="password"
                      required
                      formControlName="password"
                      type="password"
                    />
                  </mat-form-field>
                </td>

            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="register()">Login</button>

  </mat-card-actions>
  </mat-card>
  